.GoalsBar{
    border: 1px solid;
    width: 100%;
    line-height: 0;
}
.GoalsBar__bar{
    height:1rem;
    background: var(--color-blue-dark);
    transition: all .5s ease-in-out;
}
.GoalsBar__bar--completed{
    background: var(--color-red-green);
}