@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

:root {
  --color-gray: #ccc;
  --color-blue-dark: hsl(208, 100%, 24%);
  --color-blue-gray: hsl(208, 50%, 50%);
  --color-blue-light: hsl(208, 100%, 97%);
  --color-red-green: hsl(150, 100%, 26%);
	--breakpoint: 600px;
}
body{
  background: var(--color-blue-light);
}
.Main {
  border-radius: 0.2rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  color: var(--color-blue-dark);
  max-width: var(--breakpoint);
  padding: .5rem 2rem 4rem;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}
input,
button {
  color: var(--color-blue-dark);
}
button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.2;
  cursor: auto;
}
.timer {
  text-align: center;
  margin-top: 1rem;
}
.timer input {
  border-radius: 0.2rem;
  border-radius: 0.2rem;
  border: 2px solid var(--color-blue-dark);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.2rem;
  padding: 0.5rem 0rem;
  text-align: center;
  width: 100%;
}
.timer input:first-child {
  margin-bottom: 0.2rem;
}
.finishTask {
  font-size: 1.8rem;
  margin: 1rem auto;
  display: block;
}
.toolButtons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14ch, 1fr));
  gap: 0.5rem;
}
button {
  box-sizing: border-box;
  font-size: 1rem;
  border: 0;
  padding: 0.8rem 1rem;
  background-color: var(--color-blue-dark);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
  color: white;
  border-radius: 0.2rem;
}
button:active {
  opacity: 0.9;
}

@media screen and (min-width: 700px) {
  .Main {
    margin: 1rem auto;
  }
}
