.singleTask{
  display: grid; 
  grid-template-columns: minmax(1rem,1fr) minmax(1rem,3fr) minmax(1rem,2fr) minmax(1rem,2fr);
  
}
.singleTask div{
  padding: .5rem 1rem;
  border-bottom: 1px solid var(--color-gray);;
  
}